
  @font-face {
      font-family: 'Comic Sans MS';
      src: url('ComicSansMS.eot');
      src: url('ComicSansMS.eot?#iefix') format('embedded-opentype'),
          url('ComicSansMS.woff') format('woff'),
          url('ComicSansMS.ttf') format('truetype'),
          url('ComicSansMS.svg#ComicSansMS') format('svg');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
  }
  .grid {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    list-style: none;
    padding: 3em 0 0 0;
    margin: 0 auto;
    max-width: 1020px;
  }
  
  .grid__item {
    margin: 0 65px 100px;
    width: 100%;
  }
  
  .grid--xray .grid__item {
    margin: 0 20px 20px;
    width: 300px;
  }
  
  .grid__item-title {
    font-family: 'Playfair Display', Georgia, serif;
    font-size: 1em;
    padding: 1em 0;
    font-weight: bold;
  }
  
  .grid__item-title code {
    color: #aaa;
    font-weight: normal;
    font-size: 0.85em;
  }
  
  .grid--xray .grid__img {
    width: 300px;
    height: 300px;
  }
  
  .grid__img img {
    max-width: 100%;
    display: block;
  }
  
  .grid__img--border .tilt__back,
  .grid__img--border .tilt__front {
    border: 1px solid #333;
  }
  
  .grid__img--border .tilt {
    overflow: visible;
  } 
  
  /* Examples custom styles */
  .grid--examples {
    max-width: 830px;
  }
  
  .grid--examples .grid__img {
    position: relative;
    height: 0;
    padding-bottom: 66.714%;
    overflow: hidden;
  }
  
  .grid--examples .tilt {
    position: absolute;
    top: 0;
  }
  
  .grid__img--example-2::after {
    content: '';
    position: absolute;
    box-shadow: inset 0 0 50px 30px rgba(2,0,37,0.8);
    pointer-events: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  .grid__img--example-3 .tilt {
    -webkit-filter: grayscale(100%) brightness(105%) contrast(120%);
    filter: grayscale(100%) brightness(105%) contrast(120%);
    -webkit-transition: filter 0.5s, -webkit-filter 0.5s;
    transition: filter 0.5s, -webkit-filter 0.5s;
  }
  
  .grid__img--example-3 .tilt:hover {
    -webkit-filter: none;
    filter: none;
  }
  
  .grid__img--example-4 .tilt {
    width: 120%;
    height: 120%;
    top: -10%;
    left: -10%;
  }
  /* Global */
  body{
    height: calc(100vh - 8em);
    padding: 4em;
    background-color: rgb(25,25,25);  
  }
  h3 {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px #ffae00ef;
    font-family: 'Comic Sans MS';  
    font-size: 2.5vw;
  }
  p {
    color: rgb(255, 255, 255);
    font-family: 'Comic Sans MS';  
    font-size: 1.2vw;
  }
  h2 {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px #ffae00ef;
    font-family: 'Comic Sans MS';  
    font-size: 3vw;
    text-align: center;
  }
  .center {
    margin: auto;
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block
  }
  .line-1{
      position: relative;
      top: 50%;  
      width: 24em;
      margin: 0 auto;
      border-right: 2px solid rgba(255, 153, 0, 0.75);
      font-size: 5vw;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      transform: translateY(-50%);    
  }
  
  /* Animation */
  .anim-typewriter{
    animation: typewriter 4s steps(41) 1s 1 normal both,
               blinkTextCursor 500ms steps(41) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 17.95em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255, 136, 0, 0.75);}
    to{border-right-color: transparent;}
  }
.bars {
  /*   background-color:pink; */
  position: absolute;
  width: 27px;
  height: 27px;
  top: 30px;
  right: 30px;
  cursor: pointer;
  z-index: 101;
  padding-top:9px;
}
a:link {
  color: #ffae00ef;
}

/* visited link */
a:visited {
  color: #ffae00ef;
}

/* mouse over link */
a:hover {
  color: rgba(255, 153, 0, 0.75);
}
.bar {
  width: 100%;
  height: 4px;
  background-color: #fff;
  position: absolute;
}

span::before,
span::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 4px;
  position: absolute;
}

.bar::before {
  transform: translateY(-9px);
}

.bar::after {
  transform: translateY(9px);
}

.bars.active .bar {
  background-color: transparent;
}

.bars.active span::before {
  animation: top-bar 1s;
  animation-fill-mode: forwards;
}

.bars.active span::after {
  animation: bottom-bar 1s;
  animation-fill-mode: forwards;
}


/* Navbar Links CSS */

#nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 1s;
  z-index: -1;
  overflow: hidden;
  opacity: 0;
}

#nav a {
  color: #fff;
  text-decoration: none;
  line-height: 70vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-indent: 50vw;
  border-radius: 50%;
  transition: all .5s;
}

#nav a:hover {
  background: #ad5400;
}

ul {
  list-style: none;
}

.visible {
  z-index: 100 !important;
  opacity: 1 !important;
}

.shape-circle {
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  top: -10vw;
  right: -10vw;
  position: absolute;
  transition: all 1s ease-in-out;
  background: #ff7b00;
  box-shadow: 0 0px 0px rgba(4, 26, 62, 0.5);
}

nav.visible li:first-child {
  width: 200vw;
  height: 200vw;
  top: -100vw;
  right: -100vw;
  z-index: 5;
  transition: all .5s ease-in-out;
  box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
}

nav.visible li:nth-child(2) {
  width: 150vw;
  height: 150vw;
  top: -75vw;
  right: -75vw;
  z-index: 6;
  transition: all .6s ease-in-out;
  box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
}

nav.visible li:nth-child(3){
  width: 100vw;
  height: 100vw;
  top: -50vw;
  right: -50vw;
  z-index: 7;
  transition: all .7s ease-in-out;
  box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
}

nav.visible li:last-child{
  width: 50vw;
  height: 50vw;
  top: -25vw;
  right: -25vw;
  z-index: 8;
  transition: all .8s ease-in-out;
  box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
}

nav.visible li:first-child a {
  line-height: 265vw !important;
    text-indent: 15vw !important;

}

nav.visible li:nth-child(2) a {
  line-height: 200vw !important;
  text-indent:17vw !important;
}

nav.visible li:nth-child(3) a {
  line-height: 137vw !important;
    text-indent: 17vw !important;
  
}

nav.visible li:last-child a {
  line-height: 70vw !important;
  text-indent:12vw !important;
}


/* Main Body CSS */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h1 {
  font-size: 60px;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  text-transform: uppercase;
  font-size: 120px;
  letter-spacing:5px;
  padding-top:40px;
}

article p {
  padding-bottom: 15px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
li {
    color: rgb(255, 255, 255);
    font-family: 'Comic Sans MS';  
    font-size: 3vw;
}
article a {
  color: #fff;
  text-decoration: none;
  opacity: .2;
  font-size: 12px;
}

article a:hover {
  opacity: .8;
}

@keyframes top-bar {
  50% {
    transform: translateY(0);
  }
  100% {
    transform: rotate(45deg) translateY(0);
  }
}

@keyframes bottom-bar {
  50% {
    transform: translateY(0);
  }
  100% {
    transform: rotate(-45deg) translateY(0);
  }
}


@media screen and (max-width:800px) {

  h1 {
    padding-top:80px;
    font-size: 60px;
  }
}
